<!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="icon" href="/img/weather.png">
</head>

<body>
  {{>header}}
  <p>Get Weather Info. by this page.</p>
  <form action="" class="weather-form">
    <input type="text" class="location-input" placeholder="Location" />
    <button id="search-btn" type="submit">Search</button>
    <p id="message"></p>
  </form>
  {{>footer}}
  <script type="text/javascript" src='/js/app.js'></script>
</body>

</html>